---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import BlogGrid from "../components/BlogGrid.astro";
import BlogPreview from "../components/BlogPreview.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";

const blogs = (await getCollection("blogs")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
    title="Blogs | Shihab Mahamud"
    description="Learn about Shihab Mahamud's most recent projects"
>
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <Hero
                title="My Blogs"
                tagline="Explore my Latest Insights and Perspectives"
                align="start"
                alignHero="end"
            />
            <BlogGrid variant="offset">
                {
                    blogs.map((blog) => (
                        <li>
                            <BlogPreview blog={blog} />
                        </li>
                    ))
                }
            </BlogGrid>
        </main>
        <ContactCTA />
    </div>
</BaseLayout>
